<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用作标识mapper的唯一，通常包名+文件名 -->
<mapper namespace="cn.caojiantao.husky.system.mapper.security.SystemUserMapper">

    <resultMap id="baseMap" type="cn.caojiantao.husky.system.entity.security.SystemUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="getUserByUsernameAndPassword" resultMap="baseMap">
        SELECT
            `id`,
            `username`,
            `nickname`
        FROM system_user
        WHERE
            `username` = #{username}
            AND `password` = #{password}
    </select>
</mapper>